name: Build x86_64 Wine WoW64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git python3 flex bison pkg-config \
            libx11-dev libxext-dev libxrender-dev libfreetype6-dev \
            libasound2-dev libpulse-dev libcups2-dev libvulkan-dev \
            libfreetype6-dev:i386 libx11-dev:i386 libasound2-dev:i386 \
            libpng-dev:i386 libjpeg-dev:i386 \
            gcc-multilib g++-multilib

      - name: Checkout Wine
        run: |
          git clone --depth 1 https://gitlab.winehq.org/wine/wine.git wine-src
          cd wine-src
          git submodule update --init --recursive

      - name: Build 64-bit Wine
        run: |
          cd wine-src
          mkdir -p build64
          cd build64
          ../configure --enable-win64 --disable-tests
          make -j$(nproc)

      - name: Build 32-bit Wine (WoW64)
        run: |
          cd wine-src
          mkdir -p build32
          cd build32
          ../configure --with-wine64=../build64 --disable-tests
          make -j$(nproc)

      - name: Install to temporary directory
        run: |
          mkdir -p wine-install/usr/local
          cd wine-src/build64
          make install DESTDIR=../../wine-install
          cd ../build32
          make install DESTDIR=../../wine-install

      - name: Create tarball
        run: |
          cd wine-install/usr/local
          tar -czf ../../../wine-x86_64-wow64.tar.gz .
          cd ../..
          echo "Tarball created at:"
          ls -lh wine-x86_64-wow64.tar.gz

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: wine-x86_64-wow64
          path: wine-x86_64-wow64.tar.gz